body {
  background-color: white;
  color:black;
}

/* NAVBAR COLOR: #4285f4 */
.nav-blue-color {
  background-color: #4285f4 !important;
}

.nav-text li a {
  color: white !important;
  font-size: 1em;
  font-weight: bold;
}

.nav-text li a:hover {
  color: white !important;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

/* LOGO */

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

/* LOGO */

.center-object {
  display: block;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.body-content {
  display: none;
}

.result-box {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.maps-image {
  width: 100%;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
}